---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";

const copyrightYear = new Date().getFullYear();
---

<Layout title="Privacy">
  <section class="px-8 py-24 bg-gray-100">
    <div class="max-w-[720px] mx-auto w-full">
      <a href="/" class="text-accent mb-4 flex">Back</a>
      <h1 class="text-6xl font-bold">About Us</h1>
    </div>
  </section>

  <section class="px-8 py-24">
    <div class="max-w-[720px] mx-auto">
      <p class="text-xl">
        This app is targeted towards people who live with diabetes. Their bodies
        either lack or underproduce an essential hormone called insulin which
        helps glucose enter the cells in the body. Without insulin, the glucose
        stays in the bloodstream, causing high blood sugar levels which damage
        their bodies. Usually, people use external insulin by injecting it into
        their bodies. One of the most difficult challenges they face is giving
        themselves accurate insulin amounts. The standard way used by people is
        carb-related calculations to generate an insulin dosage amount. This is
        often a hassle and can be very time-consuming.
      </p>

      <h2 class="text-4xl font-bold mt-16 mb-4">How does Type1 help?</h2>
      <p class="text-xl">
        Type1 will use artifical intelligence to train itself based on meal
        pictures taken by the user. After the first few snapshot of a dish,
        Type1 will recognize the food and deliver an insulin dosage based on
        personal insulin to carb ratio and current glucose levels. A single
        snapshot of your meal delivers your insulin dosage so that you don’t
        have to sit around calculating your carbs.
      </p>

      <h2 class="text-4xl font-bold mt-16 mb-4">What we use?</h2>
      <p class="text-xl">
        Valuing your privacy, we take minimal data upon account creation. Just
        age and weight helps us get an estimate of your insulin to carb ratio
        which we then use to help get a dosage based on what you eat. Without
        asking for carbohydrates, we have only a few simple entries required
        which include blood sugar level and previous estimated insulin dosage
        for the first time you eat a new meal. This helps us maintain simplicity
        and offer you the most simple and fast way possible to get your insulin
        dosage.
      </p>
    </div>
  </section>
  <footer class="bg-white px-8 py-4 border border-t border-black/5">
    <div class="max-w-screen-xl mx-auto flex items-center justify-between">
      <p>© Type1 {copyrightYear}</p>

      <div class="flex gap-8 items-center">
        <a href="/about">About</a>
        <a href="/privacy">Privacy</a>
      </div>
    </div>
  </footer>
</Layout>
